.square{
  height: 100px;
  width: 100px;
  border:1px solid black;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  width: 50%;
  margin: 4em auto;
  text-align: center;
}

.board-row{
  display: flex;
  justify-content: center;
  
}
